<div class="mdl-layout__header-row header">
    <span class="mdl-layout-title logo">UMStudentOrgAlumniRequestGW</span>
    <div class="mdl-layout-spacer"></div>
        <!-- Right aligned menu below button -->
        <button ng-hide="!signedIn" id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
            <img ng-src="{{user.profPicUrl}}" width="100%" height="100%">
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li class="mdl-menu__item">Signed in as: {{ user.name }}</li>
            <li ng-click="signout()" class="mdl-menu__item">Sign Out</li>
        </ul>
    <div ng-if="!signedIn">
        <div ng-init="renderSigninButton()">
            <span id="googleSigninBtn"></span>
        </div>
    </div>
</div>