
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-wide-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                            <h2 class="mdl-card__title-text">New Alumni Request</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <form name="OrgInfo" novalidate>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" ng-model="request.eventName" placeholder="Event Name" required/>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" ng-model="request.eventDescription" placeholder="Event Description" required/>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <label>Event date and time</label>
                                    <input class="mdl-textfield__input" type="datetime-local" ng-model="request.eventDatetime" required/>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <label>Number of Alumni</label>
                                    <input class="mdl-textfield mdl-js-textfield" type="number" step="1" ng-model="request.numAlumni" required>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" ng-model="request.descriptionOfAlumni" placeholder="Description of Alumni" required/>
                                </div>
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="request.needsToBeAlum">
                                    <span class="mdl-checkbox__label">Must this be a U-M Alum?</span>
                                </label>
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="request.doesHaveFunding">
                                    <span class="mdl-checkbox__label">Do you have funding for this event?</span>
                                </label>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button ng-disabled="OrgInfo.$invalid" ng-click="submitForm()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>