
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h3>New Alumni Requests</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event name</th>
                <th class="mdl-data-table__cell--non-numeric">Event date and time</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in newRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{req.eventDatetime}}</td>
                <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button" ng-click="handleReq(req)">Handle</button></td>
                <td class="mdl-data-table__cell--non-numeric"><a class="mdl-button" ui-sref="rejectrequest({requestId: req._id})">Reject</a></td>
            </tr>
            <tr ng-if="newRequests.length === 0">
                <td class="mdl-data-table__cell--non-numeric">No New Requests</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <h3>Pending</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event name</th>
                <th class="mdl-data-table__cell--non-numeric">Upcoming date and time</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in pendingRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{req.eventDatetime}}</td>
                <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button" ng-click="fulfillReq(req)">Fulfill</button></td>
                <td class="mdl-data-table__cell--non-numeric"><a class="mdl-button" ui-sref="rejectrequest({requestId: req._id})">Reject</a></td>
            </tr>
            <tr ng-if="pendingRequests.length === 0">
                <td class="mdl-data-table__cell--non-numeric">No Pending Requests</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="mdl-cell mdl-cell--6-col">
        <h3>Fulfilled</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event name</th>
                <th class="mdl-data-table__cell--non-numeric">Event date and time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in fulfilledRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{req.eventDatetime}}</td>
            </tr>
            <tr ng-if="fulfilledRequests.length === 0">
                <td class="mdl-data-table__cell--non-numeric">No Fulfilled Requests</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <h3>Rejected</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event name</th>
                <th class="mdl-data-table__cell--non-numeric">Reason for rejection</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in rejectedRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{req.reasonForRejection}}</td>
            </tr>
            <tr ng-if="rejectedRequests.length === 0">
                <td class="mdl-data-table__cell--non-numeric">No Rejected Requests</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>