<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-wide-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Request for {{ request.eventName }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <label>Event name:<br>
                        <strong>{{ request.eventName }}</strong>
                        </label>
                    </li>
                    <li class="mdl-list__item">
                        <label>Event data and time:<br>
                        <strong>{{ format( request.eventDatetime ) }}</strong>
                            </label>
                    </li>
                    <li class="mdl-list__item">
                        <label>Number of alumni requesting:<br>
                            <strong>{{ request.numAlumni }}</strong>
                        </label>
                    </li>
                    <li class="mdl-list__item">
                        <label>Description of alumni needed:<br>
                            <strong>{{ request.descriptionOfAlumni }}</strong>
                        </label>
                    </li>
                    <label>Chosen alumni:<br>
                    <li ng-repeat="name in request.alumniNames" class="mdl-list__item">
                        <strong>{{ name }}</strong></label>
                    </li>
                    <label>Their respective emails:<br>
                    <li ng-repeat="email in request.alumniEmails" class="mdl-list__item">
                            <strong>{{ email }}</strong></label>
                    </li>
                    <li class="mdl-list__item">
                        <label>Status:<br>
                        <strong>{{ request.status }}</strong>
                            </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>