
<div ng-if="!waitingForApproval" class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h3>New Alumni Requests</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event Name</th>
                <th class="mdl-data-table__cell--non-numeric">Date and Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in newRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ format( req.eventDatetime )}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <h3>Pending</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event Name</th>
                <th class="mdl-data-table__cell--non-numeric">Date and Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in pendingRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ format(req.eventDatetime) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <h3>Fulfilled</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event Name</th>
                <th class="mdl-data-table__cell--non-numeric">Date and Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in fulfilledRequests">
                <td class="mdl-data-table__cell--non-numeric">{{ req.eventName }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ format(req.eventDatetime) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <h3>Rejected</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Event Name</th>
                <th class="mdl-data-table__cell--non-numeric">Reason for Rejection</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="req in rejectedRequests">
                <td class="mdl-data-table__cell--non-numeric">{{req.eventName}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{req.reasonForRejection}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <a class="mdl-button" ui-sref="submitrequest">Make new Request</a>
    </div>
</div>
<div ng-if="waitingForApproval" class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-wide-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Note:</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <h3>You're student organization is currently pending approval.<br>
                    You cannot make any requests until then.</h3>
            </div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>